<section>
    <div class="header">
        <h2 class="light-weight">
            <span class="influ-text">Influencer Marketing Services</span> Offered By Us
        </h2>
        <p>
            We are the <strong>top influencer marketing company in India</strong> that is most respected, as we offer
            complete 360-degree influencer marketing campaign solutions through <strong>India’s top influencers</strong>
            on YouTube, Instagram, Snapchat, Facebook, Twitter, and LinkedIn. We utilize state-of-the-art technology &
            resources, and transformative, data-driven & hyper-targeted influencer marketing strategies to deliver the
            right communication and unparalleled value. Hire the top influencer marketing agency in India today!
        </p>
    </div>

    <div class="youtube-wave-bg">
        <div class="content">
            <div class="row">
                <!-- Adjust column classes to fit your grid system -->
                <div class="col-8">
                    <button class="youtube-button">
                        <div class="svg-wrapper-1">
                            <div class="svg-wrapper">
                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                                        fill="currentColor"></path>
                                </svg>
                            </div>
                        </div>
                        <span>YouTube Influencer Marketing</span>
                    </button>
                    <p class="highlighted-text">Engage your audience with captivating YouTube content that stands out.
                    </p>
                    <button>Hire Top YouTubers</button>
                    <div class="list-container">
                        <div class="list-column">
                            <ul>
                                <li>Unboxing Videos</li>
                                <li>Product Videos</li>
                                <li>Long & Short Format</li>
                            </ul>
                        </div>
                        <div class="list-column">
                            <ul>
                                <li>Vlogs</li>
                                <li>Community Posts</li>
                                <li>Memes</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-4" style="border-radius: 20px; overflow: hidden;">
                    <div class="video-wrapper">
                        <video loop autoplay muted disablepictureinpicture>
                            <source src="../../assets/content/yt_influence2.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>