<section class="main-section">
    <div class="intro">
        <div class="carousel-container">
            <div class="carousel-slide active" style="background-image: url('../../assets/content/socialnetwork.jpg');">
                <div class="text-container">
                    <div class="styled-text">
                        Transform Your Brand with <span style="color: #ff4081;">Innovative Solutions</span>
                    </div>
                </div>
            </div>
            <div class="carousel-slide" style="background-image: url('../../assets/content/youtube.jpg');">
                <div class="text-container">
                    <div class="styled-text">
                        Elevate Your Marketing with <span style="color: #ff4081;">Creative Strategies</span>
                    </div>
                </div>
            </div>
            <div class="carousel-slide" style="background-image: url('../../assets/content/insta.jpg');">
                <div class="text-container">
                    <div class="styled-text">
                        Connect with Your Audience Like Never Before
                    </div>
                </div>
            </div>
        </div>

        <!-- Welcome Section -->
        <div class="welcome-section">
            <div class="welcome-text text-center">
                <h2 class="header">ViralZone Media: India's Premier Social Media Agency</h2>
                <h4>ViralZone Media, powered by top influencers and experts, redefines brand engagement in digital
                    marketing. We offer strategic development, creative production, social media and paid media
                    management, and influencer marketing to transform audiences into loyal customers and brand
                    advocates.</h4>
            </div>
        </div>
    </div>
</section>