<section>
    <div class="carousel-row">
        <div class="carousel-column">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/content/influencer_marketing.gif" alt="Influencer Marketing">
                    </div>
                    <div class="flip-card-back">
                        <div class="content">
                            <h2>Influencer Marketing</h2>
                            <p>Discover how influencer marketing can elevate your brand and engage your target audience effectively. Partner with the right influencers to amplify your message and drive impactful results.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-column">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/content/social_media.gif" alt="Social Media Marketing">
                    </div>
                    <div class="flip-card-back">
                        <h2>Social Media Marketing</h2>
                        <p>Harness the power of social media to amplify your brand. Engage your audience with compelling content and targeted ads to boost visibility and drive results.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-column">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/content/content_creator.gif" alt="Content Creation">
                    </div>
                    <div class="flip-card-back">
                        <h2>Content Creation</h2>
                        <p>Crafting captivating content that resonates with your audience and elevates your brand. From eye-catching visuals to compelling copy, we bring your message to life with creativity and precision.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
